.two-column-block {

    // lnp is a user selectable option
    &.lnp {
        // Styles specific to when .two-column-block also has .lnp

        margin-top: 3rem;
        margin-bottom: 3rem;

        .full-span-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h2 {
                font-size: 1.2rem;
                font-weight: bold;
                margin: 1.5rem;
                text-wrap: pretty;
            }
        }

        .left-column {
            // Styles specific to the left column when .two-column-block also has .lnp
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
        }

        .right-column {
            // Styles specific to the right column when .two-column-block also has .lnp
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }
    }
}

.three-column-block {

    &.home-page {
        background-color: $nrw-colour-subtle-grey;
        max-width: 100%;
        padding: 2rem;

        h2 {
            color: darken($nrw-colour-amber-wheat, 15%);
        }

        // <ul><li> Applies the custom list marker style defined by the amber-wheat-list-marker mixin.
        // Use this mixin to style list markers with the "amber wheat" theme for visual consistency.
        @include amber-wheat-list-marker;


        ul {
            p {
                padding-bottom: 20px;
                margin-left: 1em;
                line-height: 1.2;
            }

            a {
                border: none;
                text-decoration: none;
                text-indent: 1em;
            }

            a:hover {
                color: $nrw-colour-amber-wheat;
            }


        }

        &.highlight {
            .call-to-action {

                background-color: hsl(62, 61%, 42%);
                min-height: 160px;
                padding: 1rem;
                display: flex;
                flex-direction: row;

                &:hover {

                    background-color: hsl(62, 61%, 45%);
                }

                a {
                    width: 100%;
                    ;
                    text-decoration: none;
                    border-bottom: 3px solid hsl(0, 0%, 0%);

                    &:hover {
                        color: hsl(0, 0%, 0%);
                        border-bottom: 3px solid hsl(0, 0%, 25%);
                    }
                }

            }
        }
    }
}