.page-banner {
    display: flex;
    justify-content: center;
    align-items: flex-end; // Changed 'end' to 'flex-end' for better compatibility
    text-align: center;

    .header-title-container {
        width: 100%;
        text-align: center;
        padding: 20px 0;

        h1 {
            font-family: $font-pt-serif-regular, serif;
        }
    }

    .header-title {
        margin: 0;
    }
}

.page-banner-has-image {



    @extend .page-banner; // Reuse shared styles
    position: relative;

    picture {
        width: 100%;

        img {
            width: 100%;
            max-height: 50vh;
            min-height: 30vh;
            object-fit: cover;
            object-position: top;
        }
    }    
    
    video {
        max-width: 100%;
    }

    .header-title-container {
        position: absolute;
        background-color: hsla(0, 0%, 7%, 0.35);
        color: white;
    }
}