.accordion {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &__heading {
        // Optional: Add styles for the main heading
    }

    &__item {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden;

        .accordion__toggle {
            display: none;

            &:checked {
                ~.accordion__content {
                    // margin-top: 1rem;
                    // margin-bottom: 1rem;
                    // max-height: 100%; // Adjust as needed
                    max-height: 100%; // or whatever maximum your content usually fits in
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }

                +.accordion__label .accordion__chevron::before {
                    content: "▲";
                }
            }
        }

        .accordion__label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            cursor: pointer;
            font-size: 1.2rem;
			background-color: #9ea1a8;
	

            .accordion__chevron {
                font-size: 14px;
                transition: transform 0.3s ease;

                &::before {
                    content: "▼";
                }
            }
        }

        .accordion__content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease, padding 0.3s ease;
            padding: 0 15px;

            img.left {
                float: left;
                margin-right: 1rem;
                max-width: 300px;
            }

            ol,
            ul {
                margin-left: unset;
                margin-bottom: 0.5rem;
                font-size: calc(0.8rem + 0.3vw) !important;
            }

            h2,
            .h2 {
                font-size: calc(1.275rem + 0.3vw);
                //margin-bottom: 1.275rem;
				margin: 1rem 0; 

            }

            h3,
            .h3,
            h4,
            .h4,
            h5,
            .h5,
            h6,
            .h6 {
                font-size: calc(1.1rem + 0.3vw);
            }

            img,
            p:not(:empty) {
                margin: 15px 0;
            }
        }

        .accordion__paragraph {
            p {
                font-size: 1.2rem;
            }
        }

        .accordion__embed {
            margin-top: 1.3rem;
            margin-bottom: 1.3rem;
        }
    }
}