// Avoid editing this file, instead override or add parameters in a custom .scss importing this file e.g.
// -- _accordion.scss --
// @import "components/accordion.scss";
// add decelarations here

.accordion {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .accordion-item {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden;

        .accordion-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            cursor: pointer;
            font-size: 1.2rem;
        }

        .accordion-embed {
                margin-top: 1.3rem;
                margin-bottom: 1.3rem;
        }

        .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            padding: 0 15px;

            img {
                &.left {
                    float: left;
                    margin-right: 1rem;
                    max-width: 300px;
                }
            }

            ol,
            ul {
                margin-left: unset;
                margin-bottom: 0.5rem;
                font-size: calc(0.8rem + 0.3vw) !important;
            }
            h2, .h2{ font-size: calc(1.275rem + 0.3vw); margin-bottom: 1.275rem;}
            h3,.h3,h4,.h4,h5,.h5,h6,.h6{ font-size: calc(1.1rem + 0.3vw);}
            
            img, p:not(:empty) {
                margin: 15px 0;
            }
           
        }

        input[type="checkbox"] {
            display: none;
        }

        /* Default chevron direction (down) */
        input[type="checkbox"] + .accordion-label .chevron::before {
            content: "▼";
        }

        /* Rotate chevron when expanded (up) */
        input[type="checkbox"]:checked + .accordion-label .chevron::before {
            content: "▲";
        }

        /* Chevron transition */
        .chevron {
            font-size: 14px;
            transition: transform 0.3s ease;
        }
    }

    input[type="checkbox"]:checked {
        ~ .accordion-content {
            margin-top: 1rem;
            margin-bottom: 1rem;
            max-height: 100%; // Adjust as needed for content
            
        }
    }

    p:not(:empty) {
        font-size: 1.2rem;
    }
}