{% load wagtailcore_tags wagtailimages_tags %}

{% comment %}
<div class="accordion" id="accordion-{{ id }}">
	{% if self.heading %}
	<h3>{{ self.heading }}</h3>
	{% endif %}
	{% for accordion_item in self.accordian_items %}
	<div class="accordion-item">
		<input type="checkbox" id="accordion-item-{{ id }}-{{ forloop.counter }}">
		<label class="accordion-label" for="accordion-item-{{ id }}-{{ forloop.counter }}">
			{{ accordion_item.title }}
			<span class="chevron"></span>
		</label>
		<div class="accordion-content">
			{% for block in accordion_item.body %}
			{% if block.block_type == 'heading' %}
			<h2 class="accordion-heading">{{ block.value }}</h2>
			{% elif block.block_type == 'paragraph' %}
			<div class="accordion-paragraph">
				{{ block }}
			</div>
			{% elif block.block_type == 'embed' %}
			<div class="accordion-embed">
				{{ block.value }}
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
{% endcomment %}

<div class="accordion" id="accordion-demo">
	<h3 class="accordion__heading">Example Accordion Heading</h3>

	<div class="accordion__item">
		<input type="checkbox" id="accordion-item-demo-1" class="accordion__toggle">
		<label class="accordion__label" for="accordion-item-demo-1">
			Example Item Title 1
			<span class="accordion__chevron"></span>
		</label>
		<div class="accordion__content">
			<h2 class="accordion__subheading">Example Subheading</h2>
			<div class="accordion__paragraph">
				<p>This is an example paragraph of content inside the first accordion item.</p>
			</div>
			
		</div>
	</div>

	<div class="accordion__item">
		<input type="checkbox" id="accordion-item-demo-2" class="accordion__toggle">
		<label class="accordion__label" for="accordion-item-demo-2">
			Example Item Title 2
			<span class="accordion__chevron"></span>
		</label>
		<div class="accordion__content">
			<h2 class="accordion__subheading">Another Subheading</h2>
			<div class="accordion__paragraph">
				<p>This is another paragraph with some placeholder text.</p>
			</div>
		</div>
	</div>
</div>