<div class="custom-accordion" id="accordion">
  <div class="custom-accordion__item">
    <h2 class="custom-accordion__header">
      <button class="custom-accordion__button" aria-expanded="true" aria-controls="section1" id="accordion1">
        Accordion Item #1
      </button>
    </h2>
    <div id="section1" class="custom-accordion__panel custom-accordion__panel--expanded" role="region" aria-labelledby="accordion1">
      <div class="custom-accordion__body">
        <strong>This is the first item’s accordion body.</strong> It is shown by default...
      </div>
    </div>
  </div>

  <div class="custom-accordion__item">
    <h2 class="custom-accordion__header">
      <button class="custom-accordion__button" aria-expanded="false" aria-controls="section2" id="accordion2">
        Accordion Item #2
      </button>
    </h2>
    <div id="section2" class="custom-accordion__panel" role="region" aria-labelledby="accordion2">
      <div class="custom-accordion__body">
        <strong>This is the second item’s accordion body.</strong> It is hidden by default...
      </div>
    </div>
  </div>

  <div class="custom-accordion__item">
    <h2 class="custom-accordion__header">
      <button class="custom-accordion__button" aria-expanded="false" aria-controls="section3" id="accordion3">
        Accordion Item #3
      </button>
    </h2>
    <div id="section3" class="custom-accordion__panel" role="region" aria-labelledby="accordion3">
      <div class="custom-accordion__body">
        <strong>This is the third item’s accordion body.</strong> It is hidden by default...
      </div>
    </div>
  </div>
</div>
