{% load static wagtailcore_tags wagtailimages_tags %}
<div class="icon-blocks" id="icon-section">
  <h2 class="icon-blocks__title">Section title</h2>

  <div class="icon-blocks__grid">
    <div class="icon-block">
      <div class="icon-block__icon">
        <img src="https://placehold.co/100x100" alt="Placeholder image"  />
      </div>
      <h3 class="icon-block__heading">Featured title</h3>
      <p class="icon-block__text">
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-block__link icon-block__link--button">
        Primary button
      </a>
    </div>


    <div class="icon-block">
      <div class="icon-block__icon">
        <img src="https://placehold.co/100x100" alt="Placeholder image"  />
      </div>
      <h3 class="icon-block__heading">Featured title</h3>
      <p class="icon-block__text">
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-block__link icon-block__link--button">
        Primary button
      </a>
    </div>

    <div class="icon-block">
      <div class="icon-block__icon">
        <img src="https://placehold.co/100x100" alt="Placeholder image"  />
      </div>
      <h3 class="icon-block__heading">Featured title</h3>
      <p class="icon-block__text">
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-block__link icon-block__link--button">
        Primary button
      </a>
    </div>
  </div>
</div>
