<div class="hanging-icons" id="hanging-icons">
  <h2 class="hanging-icons__title">Hanging icons</h2>

  <div class="hanging-icons__grid">
    <div class="icon-feature">
      <div class="icon-feature__icon">
        <svg class="bi" width="1em" height="1em" aria-hidden="true">
          <use xlink:href="#toggles2"></use>
        </svg>
      </div>
      <div>
        <h3 class="icon-feature__heading">Featured title</h3>
        <p class="icon-feature__text">
          Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
        </p>
        <a href="#" class="icon-feature__btn">Primary button</a>
      </div>
    </div>

    <div class="icon-feature">
      <div class="icon-feature__icon">
        <svg class="bi" width="1em" height="1em" aria-hidden="true">
          <use xlink:href="#cpu-fill"></use>
        </svg>
      </div>
      <div>
        <h3 class="icon-feature__heading">Featured title</h3>
        <p class="icon-feature__text">
          Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
        </p>
        <a href="#" class="icon-feature__btn">Primary button</a>
      </div>
    </div>

    <div class="icon-feature">
      <div class="icon-feature__icon">
        <svg class="bi" width="1em" height="1em" aria-hidden="true">
          <use xlink:href="#tools"></use>
        </svg>
      </div>
      <div>
        <h3 class="icon-feature__heading">Featured title</h3>
        <p class="icon-feature__text">
          Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
        </p>
        <a href="#" class="icon-feature__btn">Primary button</a>
      </div>
    </div>
  </div>
</div>
