{% load static wagtailcore_tags wagtailimages_tags %}
<footer class="site-footer">
  <p class="site-footer__copyright">© 2025 Company</p>

  <a href="/" class="site-footer__logo" aria-label="Bootstrap">
    <svg class="bi" width="40" height="32" aria-hidden="true">
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>

  <ul class="site-footer__nav">
    <li><a href="#" class="site-footer__link">Home</a></li>
    <li><a href="#" class="site-footer__link">Features</a></li>
    <li><a href="#" class="site-footer__link">Pricing</a></li>
    <li><a href="#" class="site-footer__link">FAQs</a></li>
    <li><a href="#" class="site-footer__link">About</a></li>
  </ul>
</footer>
