// Default variable overrides
// David Waller August 2024
// Refer to -variables.scss but avoid modifying that file
// Instead, copy the variable here and modify it
// See https://getbootstrap.com/docs/5.3/customize/sass/ for further information

$primary: #007bff;
$secondary: #6c757d;




@import "../boostrap/bootstrap.scss";

// Now we can add our custom styles that aren't part of Bootstrap
// We can keep them separate for ease of maintenance
// As these are partial files we prefix them with an underscore so the compiler knows
// they are not standalone files and can use mixins etc

@import "../css/components/_mixins.scss";
@import "../css/components/_base.scss";
@import "../css/_utilities.scss";
@import "../css/components/_header.scss";
@import "../css/components/_features.scss";
@import "../css/components/_footer.scss";
@import "../css/components//_album.scss";
@import "../css/components/_accordion.scss";
@import "../css/components/_call_to_action.scss";



.container-fluid {
    &__full-width {
        padding-right: calc(var(--bs-gutter-x)*0);
        padding-left: calc(var(--bs-gutter-x)*0);
    }
}

.container {
    &__narrow {
        max-width: 85ch;
    }
}