{% load wagtailcore_tags wagtailimages_tags %}

<div class="accordion" id="accordion--{{ id }}">
  {% if self.heading %}
    <h3 class="accordion__heading">Example Accordion Heading</h3>
  {% endif %}
  {% for accordion_item in self.accordian_items %}
    <div class="accordion__item">
      <input type="checkbox" id="accordion-item-{{ id }}-{{ forloop.counter }}" class="accordion__toggle" />
      <label class="accordion__label" for="accordion-item-{{ id }}-{{ forloop.counter }}">
        {{ accordion_item.title }}
        <span class="accordion__chevron"></span>
      </label>
      <div class="accordion__content">
          {% for block in accordion_item.body %}
          {% if block.block_type == 'heading' %}
            <h2 class="accordion__subheading">{{ block.value }}</h2>
          {% elif block.block_type == 'paragraph' %}
            <div class="accordion__paragraph">{{ block }}</div>
          {% elif block.block_type == 'embed' %}
            <div class="accordion__embed">{{ block.value }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
