{% load wagtailcore_tags %}
<div class="{{ block_class}} {{ self.css_class }}">
    <div class="row">
        {% if self.full_span_header %}
        <div class="col-12 full-span-header">
            <h2>
                {{ self.full_span_header }}
            </h2>
        </div>
        {% endif %}

        <div class="col-md-4 left-column">
            {% for block in self.left_column %}
            <div class="{{block.block_type}}">
                {{ block }}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 middle-column">
            {% for block in self.middle_column %}
            <div class="{{block.block_type}}">
                {{ block }}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 right-column">
            {% for block in self.right_column %}
            <div class="{{block.block_type}}">
                {{ block }}
            </div>
            {% endfor %}
        </div>

    </div>
</div>